@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
}

@layer components {
  .btn {
    @apply rounded-md shadow-md outline-none px-4 py-3 font-semibold transition-all border-2 border-transparent;
  }

  .btnPrimary {
    @apply bg-primary text-white hover:border-primary hover:bg-white hover:text-primary;
  }
  .btnPrimaryOutline {
    @apply border-primary text-primary hover:bg-primary hover:text-white;
  }
  .btnDanger {
    @apply bg-red-500 text-white hover:bg-red-600;
  }

  .btnSuccess {
    @apply bg-green-500 text-white hover:bg-green-600;
  }

  .btnWarning {
    @apply bg-yellow-400 text-white hover:bg-yellow-500;
  }

  .badge {
    @apply px-3 py-2 rounded-md text-white;
  }
  .badgeSm {
    @apply py-1;
  }

  .badgePrimary {
    @apply bg-primary;
  }
  .badgeSuccess {
    @apply bg-green-500;
  }
  .badgeDange {
    @apply bg-red-500;
  }

  .badgeWarning {
    @apply bg-yellow-400;
  }

  .formControl {
    @apply flex flex-col my-4;
  }

  input,
  textarea {
    @apply focus:outline-primary px-3 py-3 border-2 border-primary  w-[100%] rounded-md max-w-[90%];
  }

  li {
    @apply list-disc ml-10;
  }
}

h1 {
  font-size: 32px;
  font-weight: 600;
  color: #333333;
  text-transform: uppercase;
}

.heading h1 {
  position: relative;
  padding-bottom: 5px;
  /* text-transform: uppercase; */
}
.heading h1:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: #4377b3;
}
.heading h1:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 10px;
  left: 50%;
  margin-left: -50px;
  background-color: #4377b3;
}

.cardWrapper {
  width: 800px;
  max-width: 90%;
  margin: 15px auto;
  text-align: start;
}
